*{margin:0;padding:0;}
li{list-style:none;}
a{text-decoration:none;}
input{border:0;outline:none;}
/*Í·²¿*/
#box{
	width:961px;
	height:40px;
	margin:10px auto;
	background:linear-gradient(to top,#1d6daa,#278cda);
	border-radius:5px;
}
#box ul{
	float:right;
}
#box ul li{
	float:left;
	line-height:40px;
	padding:0 12px 10px 12px;
	text-align:center;
	color:#fff;
}
#box ul .bj{
	background:url(img/nav1_03.gif) no-repeat;
}
#box ul div{
	width:151px;
	height:24px;
	border-radius:5px;
	background:url(img/search_bg.gif) -27.5px -69px;
	margin:6px auto;
	border:3px solid #cccccc;
	position:relative;
}
#box ul div input{
	width:126px;
	height:24px;
	border-radius:5px 0 0 5px;
	position:relative;
	top:-9.5px;
	left:-13.1px;
}
#box ul li:hover{
	color:#b2d6f0;
	cursor:pointer;
}
#box ul div:hover{
	border:3px solid #a0a1a1;
	background:url(img/search_bg.gif) -59px -69px;
}
#box1{
	width:960px;
	height:538px;
	background:url(img/news-duba-ban.jpg);
	margin:20px auto;
	position:relative;
}
.box2{
	width:327px;
	height:316px;
	margin:64px 0 0 600px;
	position:absolute;
	font-size:14px;
	color:#fff;
	font-weight:800;
}
.box3{
	margin:20px auto;
	line-height:30px;
}
.box3 a{
	font-size:17px;
	color:#f6ff00;
}
.box4{
	margin:20px auto;
	background:url(img/ndb-btn-a.png) no-repeat;
	cursor:pointer;
	font-size:27px;
	line-height:70px;
	padding:0 0 0 54px;
}
.box4:hover{
	background:url(img/ndb-btn-a.png) 0 -70px no-repeat;
}
.box5{
	margin:23px auto;
}
.box5 a{
	margin:0 15px 0 0;
	color:#2699fb;
}
.box6{
	width:961px;
	height:60px;
	margin:462px auto;
	position:absolute;
}
.box6 ul li{
	width:260px;
	height:60px;
	margin:0 15px 0 30px;
	float:left;
}
.box6 ul p{
	margin:0 0 0 95px;
	line-height:30px;
	color:#999999;
	font-weight:600;
}
.box6 ul .hj{background:url(img/ndb-ficon-a.png) no-repeat;}
.box6 ul .zt{background:url(img/ndb-ficon-b.png) no-repeat;}
.box6 ul .mz{background:url(img/ndb-ficon-c.png) no-repeat;}
#searchbox{
	width:960px;
	height:150px;
	margin:20px auto;
}
#searchbox ul li{
	width:235px;
	height:150px;
	background:linear-gradient(to top,#ededed,#fff);
	float:left;
	color:#6d6d6d;
}
#searchbox ul li h1{
	margin:22px 0 0 11px;
	color:black;
	position:relative;
}
#searchbox ul li p{
	margin:-55px 0 0 11px;
	font-size:12px;
	line-height:20px;
}
#searchbox ul li img{
	margin:0 150px;
	}
#searchbox ul li .searchbox1{
	width:84px;
	height:25px;
	background:#1e6fb0;
	margin:14px 11px;
	line-height:25px;
	text-align:center;
	font-weight:900;
	color:#fff;
	border:1px solid #0dacee;
	border-bottom:#205891;
	border-right:#205891;
	cursor:pointer;
}
#searchbox ul li .searchbox2{
	margin:-35px 0 0 101px;
	color:#6d6d6d;
}
#searchbox ul li .searchbox2 a{
	color:#6d6d6d;
}
#searchbox ul li h1 img{
	position:absolute;
	margin:0 10px;
}
#ds{
	width:960px;
	height:222px;
	margin:20px auto;
	background:#fff;
}
#ds ul{
	padding:20px 0 20px 0;
}
#ds ul li{
	width:317.9px;
	height:182px;
	float:left;
	border:1px solid #fff;
	border-right-color:#dbdbdb;
	font-size:12px;
	color:#6d6d6d;
}
#ds ul .ds3{
	border-right-color:#fff;
}
#ds ul .ds1 img{
	margin:-5px 0 0 154px;
}
#ds ul .ds1 h1{
	font-size:22px;
	margin:20px 0 0 20px;
	color:black;
	position:relative;
}
#ds ul .ds1 p{
	position:absolute;
	margin:-120PX 0 0 20px;
	line-height:20px;
}
#ds ul .ds1 div{
	width:84px;
	height:25px;
	margin:-30px 0 0 20px;
	background:#1e6fb0;
	text-align:center;
	line-height:25px;
	font-weight:900;
	color:#fff;
	border:1px solid #0dacee;
	border-bottom:#205891;
	border-right:#205891;
	cursor:pointer;
	position:relative;
}
#ds ul .ds1 a{
	position:absolute;
	margin:-19px 110px;
	color:#6d6d6d;
}
#ds ul .ds2 img{
	margin-left:20px;
	position:relative;
}
#ds ul .ds2 h1{
	font-size:14px;
	color:black;
	margin:-60px 0 0 99px;
}
#ds ul .ds2 p{
	margin:10px 0 0 99px;
}
#ds ul .ds2 .ds22{
	width:220px;
	height:100px;
	position:absolute;
	margin:20px 0 0 20px;
	
}
#ds ul .ds2 .ds22 li{
	list-style:square inside;
	height:18px;
	border:0;
}
#ds ul .ds2 .ds22 b{
	margin:0 0 0 25px;
	color:#0066aa;
}
.ds3 h1{
	margin:4px 0 0 20px;
	color:black;
}
#ds ul .ds3 .ds33{
	margin:12px 0 0 20px;
}
#ds ul .ds3 .ds33 li{
	border:0;
	list-style:square inside;
	height:19px;
}
footer{
	width:100%;
	height:384px;
	border:1px solid #f9f9f9;
	border-top-color:#e3e3e3;
	padding:10px 0 0 0;
}
#f1{
	width:960px;
	height:172px;
	margin:auto;
}
#f1 ul li{
	width:135px;
	height:160px;
	float:left;
	font-size:14px;
	border:1px solid #f9f9f9;
	border-right-color:#dbdbdb;
	padding:12px 0 0 20px;
}
#f1 .f11{
	border-right-color:#f9f9f9;
}
#f1 ul li h1{font-size:14px;}
#f1 ul li a{
	line-height:18px;
	color:#6d6d6d;
}
#f2{
	width:960px;
	height:50px;
	margin:auto;
	font-size:12px;
	border:1px solid #f9f9f9;
	border-bottom-color:#dbdbdb;
}
#f2 ul li{
	float:left;
	margin:0 10px;
	line-height:50px;
}
#f2 ul li a{
	color:#6d6d6d;
}
#f2 .f22,.f23{
	margin:0 0 0 20px;
}
#f3{
	height:12px;
	margin:20px auto;
	text-align:center;
	color:#6d6d6d;
}
#f4{
	width:857px;
	height:18px;
	margin:14px auto;
	text-align:center;
	color:#6d6d6d;
}
#f4 img{
	margin:0 20px 0 0;
}
#f4 .f44{
	width:18px;
	height:16px;
	background:url(img/ui.png) 0 -450px;
	float:right;
	margin:5px 0 0 20px;
	cursor:pointer;
}
#f4 .f44:hover{
	background:url(img/ui.png) 0 -400px;
}
#f4 .f45{
	width:18px;
	height:16px;
	background:url(img/ui.png) 0 -350px;
	float:right;
	margin:5px 0 0 10px;
	cursor:pointer;
}
#f4 .f45:hover{
	background:url(img/ui.png) 0 -300px;
}
#f4 .gz{
	margin-left:70px;
}
#f5{
	width:127px;
	height:47px;
	margin:30px 17px 0 355px;
	background:url(img/yx_2.png);
	position:relative;
	cursor:pointer;
}
#f6{
	width:112px;
	height:40px;
	position:absolute;
	margin:-45px 0 0 500px;
	background:url(img/cxlogo.png);
	cursor:pointer;
}
#fw{
	width:26px;
	height:130px;
	background:url(img/newwba.png);
	margin:-930px 0 0 0;
}